h1 {
	float: left;
	margin: 0 auto;
	width: 30%;
}

.nav-tabs {
	float:right;
	width: 35%
}
#bioimg {
 	float: left;
 	margin-top: 1em;
 	margin-right: 0.7em;
 }

 .panel-body {
 	width: 30%
 	margin-right: 30px;
 	padding-left: 20px

 }

 .col-lg-6 {
 	float: left;
 	width: 60%;
 	padding-left: 
 }
 .connectport {
 	float: right;
 }

 .learn {
  display: block;
  width: 80%;
  min-width: 50px;
  padding: 20px;
}

/* set tile to share the row, 4 in a row, with proper display, width 25% and height to be 520px */
.learn > li {
  display: inline-block;
  width: 50%;
  height: 200px;
  
}

/* set tile to remove gap with margin-right:-4px; and set border 5px white and margin-bottom 10px  */
.learn > li {
  margin-right: -4px;
  border: 5px solid white;
  margin-bottom: 10px;
}

/* set background color lightgrey and vertical align top -*/

.learn > li {
  background-color: lightgrey;
  vertical-align: top;
}

/* set image display, width to be as wide as tile */
.portimages {
  display: inline-block;
  width: 50%;
}

/* set span display, width, padding and font-family sans-serif */
span {
  display: block;
  width: 100%;
  padding: 0.5em;
  font-family: sans-serif;
}

/* set 1st span, use :nth-of-type(1), with font size 1.25em and font-weight bold */
span:nth-of-type(1) {
  font-size: 1.25em;
  font-weight: bold;
}

/* set 3nd span, use span:nth-of-type(3), with text-transform uppercase and color green */
span:nth-of-type(3) {
  text-transform: uppercase;
  color: green;
}


/* place 3rd span 10px away from bottom of the tile, in next 2 steps*/

/* step1, set tile postion relative - 5pts */
.learn > li {
  position: relative;
}

/* step2, set 3rd span, use span:nth-of-type(3) selector, position absolute and 10px bottom */
span:nth-of-type(3) {
  position: absolute;
  bottom: 10px;
}

/* add > sign with span:nth-of-type(3):after selector and content property*/

span:nth-of-type(3):after {
  content: " >";
  margin-left: 1em;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: black;
  color: white;
}



/* single tile row for screen size */
@media (min-width: 640px) and (max-width: 768px) {

  /* set each tile width 100% */
  .learn > li { width: 100%; }
  /* Set contact me panel to bottom with a width of 100% */
  /* Set About me, and Contact with a width of 100% at the top of the webpage. */
}

/* double tile row for screen size */
@media (min-width: 768px) and (max-width: 2000px) {

  /* set each tile width 50% */
  .learn > li {width: 50%; }
}

